# Tell pip to use the CPU-only registry for PyTorch to save ~2.5GB of disk space
--extra-index-url https://download.pytorch.org/whl/cpu

# Framework
fastapi
uvicorn[standard]
pydantic>=2.7.0
pydantic-settings
python-dotenv

# Async & Task Queue
celery
redis

# AI & Vector DB 
langchain
langchain-community
langchain-huggingface
langgraph
qdrant-client
sentence-transformers
langchain-google-genai
groq

# Utilities
httpx
python-multipart
loguru
yfinance